@font-face{
    font-family:"Space Grotesk";
    font-style: normal;
    font-weight:400;
    src:local("Space Grotesk"), url('./fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Changa";
    font-style:normal;
    font-weight:400;
    src:local("Changa"), url('./fonts/changa/Changa-Regular.ttf') format('truetype');
}

@font-face {
    font-family:"Yekan";
    font-style: normal;
    font-weight:400;
    src:local("Yekan"), url("./fonts/yekan/Yekan.ttf") format("truetype")
}


* body {
   margin:0; 
}
body{
    background-color: #242424;
    
}

main{
    width:600px;
    margin:auto; 
    background-color: black;
    padding:5px 1rem;
}

.title{
    font-family:"Changa";
    color:white;

}

.title-2{
    font-family:"Changa";
    color:white;
}

p{
    font-family:"Space Grotesk";
    color:#d1d1d1;
}

li {
    font-family:"Space Grotesk";
    color:#d1d1d1;
}
.fa-section{
    text-align: right;
}
.fa-text{
    font-family:"Yekan";
}


.row{
    margin:1rem;
}

#lists{
    display: flex;
    justify-content: space-around;
}
#lists > div{
    border: 1px solid red;
    padding:10px 20px;
}

input [type = "email"]{
    padding:10px;
}